.divDetail{background-color: antiquewhite;
height: 80vh;
display: flex;
flex-direction: column;
padding: 30px;
margin-top: 30px;
border-radius: 20px;
align-items: center;
}

.image{
    width: fit-content;
    border-radius: 50%;
}

.divDetailCar{
    width: 36%;
    margin: 10px;
    padding: 15px;
    border-style: double;
}

.h2{
    color: dimgray;
    font-size: large;
    font-family: cursive;
}

.button {
    background-color: white;
    color: black;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    margin: 15px;
    font-weight: 800;
    
  }
  
  .button:hover {
    background-color: #555555;
    color: white;
  }